.game_container {
    width: 250px;
    height: 325px;
    background-color: rgb(247, 218, 125);
    margin: 10px;
    display: inline-block;
}

.upper_div {
    width: 240px; 
    height: 240px; 
    background-color: rgb(236, 235, 233);
    margin: 5px;
    display: inline-block;
}

.bottom_div {
    position: relative;
    width: 240px; 
    height: 70px; 
    background-color: rgb(236, 235, 233); 
    margin: 0px 5px 5px 5px;
    display: inline-block; 
    vertical-align: middle;
}

.game_cell {
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10%;
    margin: 5px;
}

.galery {
    width: 380;
    height: 90;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}